<div class="container">
    <div class="edit-profile-page clearfix">
        <header-menu></header-menu>
        <div class="col-md-12">
            <nav-menu></nav-menu>
            <div class="row">
                <div class="col-sm-3 edit-left">
                    <display-template name="User/sidemenu.tpl.html"></display-template>
                </div>
                <div class="col-sm-9">
					<section class="clearfix setting-page" ng-controller="ChangePasswordController as model">
    					<div>
                            <div class="form-content change-password">
                                <!--<figure class="page-logo">
                                    <a href="#!/">
                                        <img src="assets/img/logo.png" alt="logo" class="img-responsive center-block"/>
                                    </a>
                                </figure>-->
                                <div class="page-head text-center">
                                    <h1>{{'Reset Password' | translate}}</h1>
                                </div>
                                <form method="post" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user)" novalidate>
                                    <div class="form-body clearfix">
                                        <div class="clearfix">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback" ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) }">
                                                    <label>Current password</label>
                                                    <input class="form-control" type="password" name="old_password" ng-model="user.old_password" placeholder="{{'Current Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) && (changePasswordForm.old_password.$error.required)">{{'Enter Current Password' | translate}}</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid) && (changePasswordForm.old_password.$error.minlength)">{{'Minimum length is' | translate}} 6</span>
                                                    <span class="error" ng-show="user.oldPassErr">{{user.oldPassErr}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback"
                                             ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) }">
                                                    <label>New password</label>
                                                    <input class="form-control" type="password" name="new_password" ng-model="user.password" placeholder="{{'New Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.required)">{{'Enter New Password' | translate}}</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.minlength)">{{'Minimum length is' | translate}} 6</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid) && (changePasswordForm.new_password.$error.maxlength)">{{'Maximum length is' | translate}} 40</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback"
                                             ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) }">
                                                    <label>Confirm your new password</label>
                                                    <input class="form-control" type="password" name="confirm_new_password" ng-model="user.confirm_password" data-match="user.password" placeholder="{{'Re-type New Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40">
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.required)">{{'Re-type New Password' | translate}}</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.minlength)">{{'Minimum length is' | translate}} 6</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid) && (changePasswordForm.confirm_new_password.$error.maxlength)">{{'Maximum length is' | translate}} 40</span>
                                                    <span class="error" ng-show="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.new_password.$dirty && changePasswordForm.confirm_new_password.$dirty) && (user.confirm_new_password != user.new_password)">{{'Password Mismatch' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-footer appmt-btn">
                                        <button class="btn btn-green btn-animate" type="submit">{{'Save' | translate}}</button>
                                        <a href="javascript:void(0)" class="btn cancel">{{'Cancel'| translate }}</a>
                                    </div>
                                </form>
                            </div>
    					</div>
					</section>
				</div>
            </div>
        </div>
    </div>
</div>