<div class="login-page page-space">
    <div class="user-login container">
    	<div class="login-page-height">
        	<figure class="page-logo">
            	<a href="#!/">
                    <img src="assets/img/logo.png" alt="logo" class="img-responsive center-block"/>
                </a>
            </figure>
            <div class="login-section col-md-6 col-xs-12">
                <form class="form-login form-horizontal col-sm-10" name="loginForm" ng-submit="model.login(loginForm.$valid)" novalidate>
                   	<div class="clearfix">
                        <h2 class="form-login-heading"><span>{{"Log in or create an account" | translate }}</span></h2>
                    </div>
                    <h4>{{"Access your latinomedica account" | translate }}</h4>
                    <div class="form-group email" ng-class="{ 'has-error' : (loginForm.$submitted || loginForm.email.$touched) && (loginForm.email.$pristine || loginForm.email.$invalid)}">
			     		<input type="email" class="form-control" placeholder="E-mail" name="email" ng-model="model.email" ng-required="true">
                        <span class="error" ng-show="(loginForm.$submitted || loginForm.email.$touched) && (loginForm.email.$pristine || loginForm.email.$invalid) && (loginForm.email.$error.required)">{{'Enter Email'| translate }}</span>
                        <span class="error" ng-show="(loginForm.$submitted || loginForm.email.$touched) && (loginForm.email.$pristine || loginForm.email.$invalid) && (loginForm.email.$error.email)">{{ 'Enter your email' | translate }}</span>
                    </div>
                    <div class="form-group password" ng-class="{ 'has-error' : (loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$pristine || loginForm.password.$invalid)}">
                  		<input type="password" class="form-control" placeholder="Password" name="password" ng-model="model.password" ng-required="true" ng-minlength="6" ng-maxlength="40">
                        <span class="error" ng-show="(loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$pristine || loginForm.password.$invalid) && (loginForm.password.$error.required)">{{'Enter Password'| translate }}</span>
                        <span class="error" ng-show="(loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$pristine || loginForm.password.$invalid) && (loginForm.password.$error.minlength)">{{'Minimum length is 6'| translate}}</span>
                        <span class="error" ng-show="(loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$pristine || loginForm.password.$invalid) && (loginForm.password.$error.maxlength)">{{'Maximum length is 40'| translate }}</span>
                    </div>
                    <div class="form-group">
                    	<div class="checkbox">
                        	<label>
                                <input type="checkbox" class="hide" />{{"keep me signed in" | translate }}
                                <span></span>
                        	</label>
                        </div>
                    	<button class="btn btn-green btn-block" type="submit">{{'Log In'|translate}}</button>
                    </div>
                    <p class="forgot-password text-center"><a href="#/users/forgot_password" class="text-muted">{{"Forget your Password?" | translate }}</a></p>
                </form>
            </div>
            <div class="choose-register col-md-6 col-xs-12">
            	<div class="row">
                    <div class="patient-block col-sm-12">
                        <div class="choose-vendor media">
                        	<div class="button">
                                <div class="media-body">
                                    <h4>{{"New in Latinomedica" | translate }}</h4>
                                    <a href="#/users/register/patient{{widgetLink}}" class="btn btn-animate" >{{'Create an Account '|translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
               	</div>
            </div>
      	</div>
    </div>     
</div>