<div class="container">
    <div class="edit-profile-page clearfix">
        <header-menu></header-menu>
        <div class="col-md-12">
            <nav-menu></nav-menu>
            <!--<section class="pad-63" ng-controller="CalenderController as model">
                <div>
                    <div class="page-head">
                        <h1>{{'My Calendar'|translate}}</h1>
                    </div>
                    <div class="col-md-12 calendar-block">
                        <div class="calendar-header text-center">
                            <h2 class="text-center">{{ model.calendarTitle }}</h2>
                            <div class="pull-left">
                                <div class="btn-group">
                                    <button class="btn btn-lgreen" mwl-date-modifier date="model.viewDate" decrement="model.calendarView" ng-click="prev()">
                            Previous
                        </button>
                                    <button class="btn btn-default" mwl-date-modifier date="model.viewDate" set-to-today ng-click="today()">
                            Today
                        </button>
                                    <button class="btn btn-lgreen" mwl-date-modifier date="model.viewDate" increment="model.calendarView" ng-click="next()">
                            Next
                        </button>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <label class="btn btn-lgreen" ng-model="model.calendarView" uib-btn-radio="'year'">Year</label>
                                    <label class="btn btn-lgreen" ng-model="model.calendarView" uib-btn-radio="'month'">Month</label>
                                    <label class="btn btn-lgreen" ng-model="model.calendarView" uib-btn-radio="'week'">Week</label>
                                    <label class="btn btn-lgreen" ng-model="model.calendarView" uib-btn-radio="'day'">Day</label>
                                </div>
                            </div>
                        </div>

                        <div class="calendar-body">
                            <mwl-calendar events="model.events" view="model.calendarView" view-title="model.calendarTitle" view-date="model.viewDate"
                                on-event-click="model.eventClicked(calendarEvent)" on-event-times-changed="model.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                on-edit-event-click="model.eventEdited(calendarEvent)" on-delete-event-click="model.eventDeleted(calendarEvent)"
                                cell-is-open="model.isCellOpen" day-view-start="00:00" day-view-end="23:00" day-view-split="30"
                                cell-modifier="model.modifyCell(calendarCell)">
                                </mwl-calendar>
                        </div>
                    </div>
                </div>
            </section>-->
            <div class="calendar-block">
                <div class="calendar">
                    <div uib-datepicker ng-model="dt" datepicker-options="options"></div>
                </div>
                <p class="text-left"><img src="assets/img/calendar.png" alt="calendar" />{{'Todays Appoinments'| translate}}</p>
                <div ng-repeat="calendarData in calendarDatas" ng-if="dataLength">
                    <div class="today-appointment" ng-class="(workplaceChange != calendarData.workplace.id) ? 'mt20':''">
                        <div ng-init="workplaceChange=calendarData.workplace.id">
                            <div class="clearfix">
                                <div class="col-sm-5 clearfix">
                                    <p class="pull-left">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        {{calendarData.user.username}}
                                    </p>
                                    <div ng-if="calendarData.user.overall_avg_rating" class="pull-right rating">
                                        <input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-star" icon-hover="hover" icon-full="fa-star" ng-model="calendarData.user.overall_avg_rating" readonly="true"
                            ></input-stars>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p>{{calendarData.appointment_time}}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p>{{calendarData.appointment_date}}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p>{{'Clinic'| translate}} {{calendarData.workplace.location}}</p>
                                </div>
                                <div class="col-sm-1">
                                    <div class="pos-rel">
                                        <a href="javascript:void(0)" ng-click="showAction($index)"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                                        <ul class="list-unstyled js-action-remove" id="tgle-{{$index}}">
                                            <li><a href="#/appointment/{{calendarData.id}}">{{'Edit Appointment'| translate}}</a></li>
                                            <li><a href="javascript:void(0)"  ng-click="showNoteModal(calendarData.id)">{{'Note'| translate}}</a></li>
                                            <li><a href="javascript:void(0)" ng-click="deleteStatus('cancel')">{{'Delete'| translate}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!dataLength">
                   <p class="hor-space alert alert-danger text-center">{{'No Appoinments Todays'| translate}}</p>
                </div>
                <p class="text-center" ng-if="dataLength">
                    <a href="javascript:void(0)" ng-click="cancelTodayAppointment(calendarDatas[0].appointment_date)" class="btn btn-animate btn-green">{{'Cancel Todays Appointments'| translate}}</a>
                </p>
            </div>
        </div>
    </div>
</div>